<launch>
    <node pkg="cav_project" type="main_coordinator.py" name="main_coordinator" output="screen"/>
    <node pkg="cav_project" type="qp_solver_cav1.py" name="qp_solver_cav1" output="screen"/>
    <node pkg="cav_project" type="qp_solver_cav2.py" name="qp_solver_cav2" output="screen"/>
    <node pkg="cav_project" type="qp_solver_cav3.py" name="qp_solver_cav3" output="screen"/>
    <node pkg="cav_project" type="qp_solver_cav4.py" name="qp_solver_cav4" output="screen"/>
    <node pkg="cav_project" type="qp_solver_cav5.py" name="qp_solver_cav5" output="screen"/>
    <node pkg="cav_project" type="qp_solver_cav6.py" name="qp_solver_cav6" output="screen"/>
    <node pkg="cav_project" type="qp_solver_cav7.py" name="qp_solver_cav7" output="screen"/>
    <node pkg="cav_project" type="qp_solver_cav8.py" name="qp_solver_cav8" output="screen"/>
    <node pkg="cav_project" type="qp_solver_cav9.py" name="qp_solver_cav9" output="screen"/>
    <node pkg="cav_project" type="qp_solver_cav10.py" name="qp_solver_cav10" output="screen"/>
    <node pkg="cav_project" type="qp_solver_cav11.py" name="qp_solver_cav11" output="screen"/>
</launch>
